*{
    margin: 0;
    padding: 0;
}
.display{
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: auto auto auto;
    background-color: salmon;
    padding: 10px;
}
.box{
    background-color: #fff;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
